### Conditionals

In [7]:
x=0
if x > 1:
    print("X is bigger than 1")
elif x>0:
    print ("X is greater than 0")
elif x==0:
    print("X is equal to 0")
else:
    print("X is not bigger than 1")

X is equal to 0

In [8]:
## And statement
x=13
if x > 0 and x < 12 and x!= 5:
    print("X is between 0 and 12 and X is not 5")
else:
    print("X is not between 0 and 12 or may be 5")

X is not between 0 and 12

In [9]:
## or statement
x=15
if x > 0 or x < 12:
    print("X is between 0 and 12")
else:
    print("X is not between 0 and 12")

X is between 0 and 12

In [2]:
## And statement
x=5
if (x > 0 and x < 12) and x== 5:
    print("X is between 0 and 12 and X may be 5")
else:
    print("X is not between 0 and 12 or is not 5")

X is between 0 and 12 and X may be 5

### List
This are collection of items that are editable

In [6]:
lst=[1,2,3,4,5]
el= lst[-1]  # It starts from 0, and i can reverse using -1 to start from the back, I can reverse all with [::-1]
el5= lst[-1] # or lst[4]
rev=lst[::-1] # Reversed with 1 step
rev2=lst[::-2] # Reversed with 2 steps
print (rev2)

[5, 3, 1]

In [9]:
### List Append
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6, 6]
[1, 8, 2, 3, 4, 5, 6, 6]

In [ ]:
## Insert into list based on position
lst.insert(1,8) # 8 in the second position
print(lst)

In [10]:
lst_a= [1,2,3,4]
lst_b= [5,6,7]
lst_a.extend(lst_b)
print(lst_a)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
## Get the index position of item from a list
index_of_el=lst_a.index(3)
print(index_of_el)

2

In [13]:
# Know the count of specific elements in the list
cnt_2= lst_a.count(2)
print(cnt_2)

1

In [14]:
## Remove element with Remove 
lst_a.remove(4) # Remove element 4
print(lst_a)

## Remove element with index position
lst_a.pop(0) # Remove element at position 0
print(lst_a)

[1, 2, 3, 5, 6, 7]
[2, 3, 5, 6, 7]

In [18]:
print(len(lst_a))
## You can perform arithmentic on list items
print(sum(lst_a))

#You can clear with clear method
lst_a.clear()
print(lst_a)

0
0
[]

In [20]:
# Sorting List for numbers and alphabets
lst_a= [1, 3, 4, 5, 6, 7,2]
print(sorted(lst_a))

# In decending order
print(sorted(lst_a)[::-1])

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

## Functions
def: Definition

In [21]:
def squared(x: int):
    ''' 
    :param X: int
    :returns y: int square of x
    '''
    y=x**2
    return y
print(squared(3))

9

In [22]:
def pow(x,tm):
    return x ** tm
print(pow(3,2))

9

In [28]:
#Test functions
print(pow(3,2)== squared(3))

#Assert method
assert pow(3,2)== squared(3) , "There is a mistake with the function"
assert pow(3,2)== squared(4) , "There is a mistake with the function"

True

AssertionError: There is a mistake with the function

In [4]:
## Assessment
#Find the Maximum
# Find the Maximum Number in a List Description: Write a function that takes a list of numbers as input and returns the maximum number in the list. Input: [5, 9, 2, 12, 7] Output: 12
# If the argument is empty or None return None: Input: [] Output: None

#Solution
def find_max_number(numbers):
    return max(numbers) if numbers else None

my_number= [5, 9, 2, 12, 7]
print(find_max_number(my_number))

12

In [2]:
#Basic String Manipulation
# Write a function called greet that takes two arguments: name (a string) and age (an integer). 
# The function should return a string message in the format "Hello, [name]! You are [age] years old."

def greet(name: str, age: int) -> str:
    # Do something here
  return f'Hello, {name}! You are {age} years old.'
    # here you should return the final string "Hello, [name]! You are [age] years old."
    
greet("Seun",35)

'Hello, Seun! You are 35 years old.'

In [3]:
# Even or Odd
# Write a function called is_even that takes a number as an argument and returns True if it's even, and False otherwise
def is_even(num):
    # Do some checks with num
    return num % 2 == 0# True | False

is_even(2)

True

In [4]:
#Calculate the Factorial
#Write a function called factorial that takes a positive integer as an argument and returns its factorial.
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
factorial(5)

120

## For Loop

In [1]:
## For Loop
lst= [1,2,3,4,5,6,7,8]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8

In [3]:
for i in range(1,9):
    print(i ** 2) # 9 is not included

1
4
9
16
25
36
49
64

In [7]:
number_to_search=7
for i in lst:
    if i == number_to_search:
        print("Number is found!")
        break
else:
    print("Element not found")

Number is found!

In [4]:
#While
Counter = 0
while Counter<len(lst):
    print(lst[Counter])
    Counter +=1

1
2
3
4
5
6
7
8

## Tupples
1. they are immutable
2. it takes less memory

In [10]:
tpl= (1,2,3,4,5,6)
# tpl[0]=3 error
# tpl +=(6,7,8) to add element
print(tpl.index(4))
print(tpl[3:7])

3
(4, 5, 6, 6)

In [1]:
# Set
# Using curly braces
my_set = {1, 2, 3, 4}
 
    # Using the set() constructor
another_set = set([4, 5, 6, 7])

In [2]:
#Find Unique Elements
#Find the number of unique elements of a list: In: [1,3,4,5,6,7] Out: 6  In: [1,1,3,4,5,5,6,7] Out: 6 (1 and 5 are duplicated and should be counted once)
def find_unique_elements(lst):
    return len(set(lst))

lst=[1,1,3,4,5,5,6,7]
find_unique_elements(lst)

6

In [ ]:
#Reverse a String
# Create a function called reverse_string that takes a string as input and returns a new string with its characters reversed. Your function should use only built-in Python tools.
def reverse_string(input_string):
    # Your code here
    return(input_string[::-1])

In [1]:
#Check Palindrome
# Write a function called is_palindrome that takes a string as an argument and returns True if it's a palindrome, and False otherwise. 
#A palindrome is a word, number, phrase, or other sequence of symbols that reads the same backward as forwards, such as madam or racecar.
def is_palindrome(string):
    return string == string[::-1]

wrd="racecar"
is_palindrome(wrd)

True

In [ ]:
# Calculate Sum of Digits
# Write a function called sum_of_digits that takes a positive integer as an argument and returns the sum of its digits.
def sum_of_digits(num: int):
    # num will be an integer
    return sum(int(digit) for digit in str(num))

In [ ]:
#Fibonacci Series
#Write a program that generates the Fibonacci series up to a given number 'n'.
#fibonacci(0) -> []
#fibonacci(10) -> [0, 1, 1, 2, 3, 5, 8]
#fibonacci(23) -> [0, 1, 1, 2, 3, 5, 8, 13, 21]
def fibonacci(n):
    fib_series = []
    # your code here
    a, b = 0, 1
    while a <= n:
        fib_series.append(a)
        a, b = b, a + b
    return fib_series if n!= 0 else []
    return fib_series

In [ ]:
# Find the Nth Fibonacci Number
# Create a function called find_fibonacci that takes a non-negative integer n as input and returns the n-th Fibonacci number. The Fibonacci sequence is a series of numbers where each number is the sum of the two preceding ones, usually starting with 0 and 1. Your function should use only built-in Python tools.
def find_fibonacci(n):
    # Your code here
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        a, b = 0, 1
        for _ in range(2, n + 1):
            a, b = b, a + b
        return b

In [2]:
#Check for Prime Numbers
# Create a function called is_prime that takes an integer as input and returns True if the number is prime and False otherwise. 
# Your function should use only built-in Python tools.
def is_prime(number):
    if number <= 1:
        return False
    elif number == 2:
        return True
    elif number % 2 == 0:
        return False
    else:
        for i in range(3, int(number ** 0.5) + 1, 2):
            if number % i == 0:
                return False
        return True

In [ ]:
#Count Primes
#Description: Write a function that takes an integer n as input and returns the count of prime numbers less than n. 
#Input: 10 Output: 4 (Primes less than 10: 2, 3, 5, 7)
def count_primes(n):
    if n < 2:
        return 0
    
    primes = [True] * n
    primes[0] = primes[1] = False
    
    for i in range(2, int(n ** 0.5) + 1):
        if primes[i]:
            for j in range(i * i, n, i):
                primes[j] = False
    
    count = sum(primes)
    return count

In [ ]:
# Calculate Average
# Write a Python program that calculates the average of a list of numbers.
# In:  [5, 10, 15, 20]
# Out:  12.5
# If the list is empty, return 0
def calculate_average(numbers):
    if len(numbers) == 0:
        return 0  # To handle an empty list and avoid division by zero
 
    total = sum(numbers)
    average = total / len(numbers)
    return average

In [ ]:
#Count Occurrences in a List
#Write a Python function that takes a list of numbers and a target number, and it returns the count of how many times the target number appears in the list.
#In: ([1, 2, 3, 4, 2, 2, 5], 2)
#Out: 3
def count_occurrences(numbers, target):
    return numbers.count(target)

In [ ]:
# Find the Missing Number
# Create a function called find_missing_number that takes a list of distinct integers from 0 to n (inclusive), where n is one less than the length of the list, and returns the missing number from the list.
# Your function should use only built-in Python tools.
def find_missing_number(nums):
    n = len(nums)
    total_sum = (n * (n + 1)) // 2  # Sum of first n+1 natural numbers
 
    return total_sum - sum(nums)

In [ ]:
#Find Common Elements in Two Lists
#Create a function called find_common_elements that takes two lists of integers as input and returns a list containing the common elements between the two input lists. 
#The order of elements in the resulting list does not matter. Your function should use only built-in Python tools.
def find_common_elements(list1, list2):
    return list(set(list1) & set(list2))

In [ ]:
# Remove Duplicates from a List
# Create a function called remove_duplicates that takes a list of elements as input and returns a new list with duplicates removed. 
#Your function should use only built-in Python tools and should maintain the original order of elements while removing duplicates.

def remove_duplicates(input_list):
    unique_list = []
    for item in input_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

In [ ]:
#Count Occurrences of a Word
#Create a function called count_word_occurrences that takes a string and a target word as input and returns the number of times the target word appears in the string. The function should not be case-sensitive, meaning it should count occurrences regardless of the word's case. 
#Your function should use only built-in Python tools.
def count_word_occurrences(text, word):
    text = text.lower()  # Convert the text to lowercase for case-insensitive matching
    word = word.lower()  # Convert the target word to lowercase
    return text.count(word) if text else 0

In [ ]:
#Check Balanced Parentheses
#Create a function called is_balanced_parentheses that takes a string containing only parentheses, brackets, and curly braces as input and returns True if the parentheses are balanced and False otherwise. 
# The parentheses are considered balanced if they are closed in the correct order. Your function should use only built-in Python tools.
def is_balanced_parentheses(s):
    stack = []
    parentheses_mapping = {')': '(', ']': '[', '}': '{'}
 
    for char in s:
        if char in parentheses_mapping.values():
            stack.append(char)
        elif char in parentheses_mapping.keys():
            if not stack or stack.pop() != parentheses_mapping[char]:
                return False
        else:
            return False
 
    return not stack

In [1]:
## Class and Inheritance
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def display_info(self):
        return f"{self.year} {self.make} {self.model}"
    
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Tesla", "Model S", 2023)

print(car1.display_info())
print(car2.display_info())

2022 Toyota Camry
2023 Tesla Model S

In [2]:
## ElectricCar inherits from Cars (Polymophisim)
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        super().__init__(make, model, year)
        self.battery_capacity =  battery_capacity

    def display_info(self):
        return f"{self.year} {self.make} {self.model} with {self.battery_capacity} kWh battery"


electric_car = ElectricCar("Nissan", "Leaf", 2023, 40)
print(electric_car.display_info())

2023 Nissan Leaf with 40 kWh battery

In [3]:
# Find the Maximum Class Edition
# Similarly to the previous exercise, find the maximum number of a list. This time, use a class instead. When initializing MaxNumberFinder you will 
#need to provide nums as an argument


class MaxNumberFinder:
    def __init__(self, nums):
        # your code here
        self.nums = nums

    def find_max_number(self):
        # your code here
        return max(self.nums)
        
finder = MaxNumberFinder([1,3,4,2])
finder.find_max_number()

4

In [ ]:
# Implement a Stack
# Create a class called Stack that implements a stack data structure. The stack should support the following operations:

# push(item): Pushes an item onto the top of the stack.

# pop(): Removes and returns the item at the top of the stack.

# peek(): Returns the item at the top of the stack without removing it.

# is_empty(): Returns True if the stack is empty and False otherwise.

# size(): Returns the number of items in the stack.

# Your Stack class should use only built-in Python tools, such as lists, and should not use any external libraries or modules.

class Stack:
    def __init__(self):
        # Initialize an empty stack
        self.items = []

    def push(self, item):
        # Push the item onto the stack
        self.items.append(item)

    def pop(self):
        # Remove and return the item at the top of the stack
        if not self.is_empty():
            return self.items.pop()

    def peek(self):
        # Return the item at the top of the stack without removing it
       if not self.is_empty():
            return self.items[-1]

    def is_empty(self):
        # Return True if the stack is empty, False otherwise
        return len(self.items) == 0

    def size(self):
        # Return the number of items in the stack
        return len(self.items)


#stack = Stack()
#stack.push(1)
#stack.push(2)
#stack.push(3)
 
#print(stack.pop())  # Should print 3
#print(stack.peek())  # Should print 2
#print(stack.is_empty())  # Should print False
#print(stack.size())  # Should print 2

In [1]:
# use ! or % to run pip install on notebook
%pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### Pandas
Pandas is a data manipulator

In [3]:
import pandas as pd
#pd.Series, pd.DataFrame

In [21]:
data = {
'Name' :['Angela','Daniel','Daniel', 'Marko', 'Marko', 'Angela'],
'Age' : [25, 33, 33, 30, 32, 31],
}

In [22]:
df= pd.DataFrame(data)

In [23]:
filter_= df['Age'] >= 30
df[filter_]

     Name  Age
1  Daniel   33
2  Daniel   33
3   Marko   30
4   Marko   32
5  Angela   31

In [26]:
# Remove duplicate dataset
df.drop_duplicates().reset_index(drop=True)

     Name  Age
0  Angela   25
1  Daniel   33
2   Marko   30
3   Marko   32
4  Angela   31

#### Task on Student Dataset

In [27]:
df = pd.read_csv('students.csv')
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eve   25       New York
5    Frank   28         Boston
6    Grace   22  San Francisco
7    Helen   32    Los Angeles
8      Ivy   29        Chicago
9     Jack   26       New York

In [33]:
# How many students are there in the dataset who are from 'San Francisco'?
df[df['City']=='San Francisco']

    Name  Age           City
1    Bob   30  San Francisco
6  Grace   22  San Francisco

In [34]:
# What is the average age of students from 'Chicago'?
# Grouping by 'City'
grouped = df[df['City']=='Chicago'].groupby('City')
average_values = grouped['Age'].mean()
average_values

City
Chicago    34.5
Name: Age, dtype: float64

In [37]:
#Create a new DataFrame that contains only the students who are 30 years old or older. How many students meet this criterion?
df[df['Age']>= 30]

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
7    Helen   32    Los Angeles

In [ ]:
# Grouping by 'Category'
grouped = df.groupby('Category')
	    
	
# Applying aggregation functions
# sum_values = grouped['Value'].sum()
# average_values = grouped['Value'].mean()
# max_values = grouped['Value'].max()
# min_values = grouped['Value'].min()
# count_values = grouped['Value'].count()

#### Tasks on World University Dataset

In [66]:
df= pd.read_csv('World+University+Rankings+2023.csv')
df.head()

  University Rank  ... International Outlook Score
0               1  ...                        96.2
1               2  ...                        80.5
2               3  ...                        95.8
3               3  ...                        79.8
4               5  ...                        89.3

[5 rows x 13 columns]

In [41]:
#How many universities are there in the dataset?
df['Name of University'].nunique()

University Rank                 162
Name of University             2233
Location                        116
No of student                  2136
No of student per staff         420
International Student            79
Female:Male Ratio                87
OverAll Score                   160
Teaching Score                  437
Research Score                  477
Citations Score                 820
Industry Income Score           391
International Outlook Score     694
dtype: int64

In [42]:
# How many different countries are there?
df['Location'].nunique()

116

In [61]:
# What is the distribition of contries in top 100 universities?
df['University Rank'].head()
# Convert university Rank to float
df['University Rank'] =pd.to_numeric('University Rank',errors='ignore')

In [65]:
df.head()

   University Rank  ... International Outlook Score
0  University Rank  ...                        96.2
1  University Rank  ...                        80.5
2  University Rank  ...                        95.8
3  University Rank  ...                        79.8
4  University Rank  ...                        89.3

[5 rows x 13 columns]

In [64]:
df[df['University Rank'] <= 100].head()

TypeError: '<=' not supported between instances of 'str' and 'int'

### Using PowerBI in Python 

[Instructions](https://learn.microsoft.com/en-us/javascript/api/overview/powerbi/powerbi-jupyter) on Embedding PowerBI

In [1]:
## PowerBI in Jupyter Note
%pip install powerbiclient

Collecting powerbiclient
  Downloading powerbiclient-3.1.1-py2.py3-none-any.whl.metadata (3.8 kB)
Collecting ipywidgets>=7.0.0 (from powerbiclient)
  Downloading ipywidgets-8.1.2-py3-none-any.whl.metadata (2.4 kB)
Collecting jupyter-ui-poll>=0.1.2 (from powerbiclient)
  Downloading jupyter_ui_poll-0.2.2-py2.py3-none-any.whl.metadata (6.9 kB)
Collecting msal>=1.8.0 (from powerbiclient)
  Downloading msal-1.28.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: requests>=2.25.1 in /home/codespace/.local/lib/python3.10/site-packages (from powerbiclient) (2.31.0)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (from powerbiclient) (2.1.4)
Collecting pyspark (from powerbiclient)
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
      317.0/317.0 MB 4.0 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: comm>=0.1.3 in /home/codespace/.local/lib/python3.10/site-packages (from ipywidgets>=7.0.0->powerbiclient) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from ipywidgets>=7.0.0->powerbiclient) (8.20.0)
Requirement already satisfied: traitlets>=4.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from ipywidgets>=7.0.0->powerbiclient) (5.14.1)
Collecting widgetsnbextension~=4.0.10 (from ipywidgets>=7.0.0->powerbiclient)
  Downloading widgetsnbextension-4.0.10-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab-widgets~=3.0.10 (from ipywidgets>=7.0.0->powerbiclient)
  Downloading jupyterlab_widgets-3.0.10-py3-none-any.whl.metadata (4.1 kB)
Collecting PyJWT<3,>=1.0.0 (from PyJWT[crypto]<3,>=1.0.0->msal>=1.8.0->powerbiclient)
  Downloading PyJWT-2.8.0-py3-none-any.whl.metadata (4.2 kB)
Collecting cryptography<45,>=0.6 (from msal>=1.8.0->powerbiclient)
  Downloading cryptography-42.0.5-cp39-abi3-manylinux_2_28_x86_64.whl.metadata (5.3 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.25.1->powerbiclient) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.25.1->powerbiclient) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from requests>=2.25.1->powerbiclient) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.25.1->powerbiclient) (2023.11.17)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->powerbiclient) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->powerbiclient) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->powerbiclient) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->powerbiclient) (2023.4)
Collecting py4j==0.10.9.7 (from pyspark->powerbiclient)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: cffi>=1.12 in /home/codespace/.local/lib/python3.10/site-packages (from cryptography<45,>=0.6->msal>=1.8.0->powerbiclient) (1.16.0)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (2.17.2)
Requirement already satisfied: stack-data in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.6.3)
Requirement already satisfied: exceptiongroup in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (4.9.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->powerbiclient) (1.16.0)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.10/site-packages (from cffi>=1.12->cryptography<45,>=0.6->msal>=1.8.0->powerbiclient) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/codespace/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.10/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.7.0)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (2.4.1)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->powerbiclient) (0.2.2)
Downloading powerbiclient-3.1.1-py2.py3-none-any.whl (684 kB)
    684.9/684.9 kB 13.6 MB/s eta 0:00:0000:01
Downloading ipywidgets-8.1.2-py3-none-any.whl (139 kB)
    139.4/139.4 kB 2.7 MB/s eta 0:00:00ta 0:00:01
Downloading jupyter_ui_poll-0.2.2-py2.py3-none-any.whl (9.0 kB)
Downloading msal-1.28.0-py3-none-any.whl (102 kB)
    102.2/102.2 kB 3.0 MB/s eta 0:00:00
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
    200.5/200.5 kB 6.1 MB/s eta 0:00:00
Downloading cryptography-42.0.5-cp39-abi3-manylinux_2_28_x86_64.whl (4.6 MB)
    4.6/4.6 MB 44.9 MB/s eta 0:00:00:00:01
Downloading jupyterlab_widgets-3.0.10-py3-none-any.whl (215 kB)
    215.0/215.0 kB 5.7 MB/s eta 0:00:00ta 0:00:01
Downloading PyJWT-2.8.0-py3-none-any.whl (22 kB)
Downloading widgetsnbextension-4.0.10-py3-none-any.whl (2.3 MB)
    2.3/2.3 MB 35.2 MB/s eta 0:00:00:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (pyproject.toml) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=1e7c80bcfb796867178c20cf60646a5c4f94756bac745e614266f8d198df459e
  Stored in directory: /home/codespace/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: py4j, widgetsnbextension, pyspark, PyJWT, jupyterlab-widgets, cryptography, msal, jupyter-ui-poll, ipywidgets, powerbiclient
Successfully installed PyJWT-2.8.0 cryptography-42.0.5 ipywidgets-8.1.2 jupyter-ui-poll-0.2.2 jupyterlab-widgets-3.0.10 msal-1.28.0 powerbiclient-3.1.1 py4j-0.10.9.7 pyspark-3.5.1 widgetsnbextension-4.0.10

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
from powerbiclient import QuickVisualize, get_dataset_config, Report, models
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from sklearn.datasets import load_iris
import pandas as pd

## Define dataset
df=load_iris

# Initiate device authentication
device_auth = DeviceCodeLoginAuthentication()
# Create a Power BI report from my data
# PBI_visualize = QuickVisualize(get_dataset_config(df), auth= device_auth)

# Create new Report
# PBI_visualize

group_id="c506d01b-b948-405a-8807-75f5f461e386"
report_id="6f173542-1ae0-4ec1-a05e-eb5ad544f15c"

report = Report(group_id=group_id, report_id=report_id, auth=device_auth)

report

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code DN6HN2KU9 to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

Exception: Could not get embed URL: Get embed URL failed with status code 401