# 30daysofPython-Day-1

## Introduction to python
In Jupyter note, the Markdown section allows us to write texts, which can be used in describing codes and writing note.

This cell is called a 'Markdown' cell.

Text in this section uses most of the HTML functions, such as hashtag (for section header), breaks etc  .

We can also add subsections.

### Subsection

It is convenient to communicate how your code works and what it is doing with markdown cells!

LaTeX commands can be used also in the Markdown section, for in-line mathematical formular, single dollar signs is used:  $\int_0^\infty f(x) dx$

Also a LaTeX equations is centered on their own lines with double dollar signs: $$\sum_{i=1}^\infty \frac{1}{2^i}$$

# Shortcuts

We can look at the existing keyboard shortcuts through the help menu, and we can make our own there

The most important shortcuts are
1. Shift + Enter: To run current cell and proceed to the next.
2. Ctrl + Enter: To run current cell
3. Alt + Enter: 
4. Tab: For auto complete
5. Shift + Tab

### DATATYPES IN PYTHON
What is a data type?

Data types are the classification or categorization of data items. Variables can hold values of different data types and different datatypes can do different things. The most important datatypes are Integer, float, string, Boolean
Below are the details of these datatypes:


● <em>Integer (int)</em>- Integers whole non-decimal numeric numbers. it can take on both negative and positive values. Eg-- 3, 15, -22, -83

● <em>Float</em>- The float type are floating/ decimal-numbers. They are with decimal point. it can take both negative and positive values. 
Eg – 3.2, -56.7889, 7.22, -98.28

● String(str)- These are sequences of character data. it may contain alphabets or numbers or a combination of both. Note: Every Strings is delimited using single or double quotes. All the characters between the opening delimiter and the closing 
delimiter are a part of the string. Eg- “Hello World”, ‘My name is Seun’, “My phonenumber is 0809”

● Boolean(bool)- Boolean means True or False. An object can take a value of either True or False.


#### Most Commonly used data Types
##### IMMUTABLE DATATYPES
int.<br>
float.<br>
bool.<br>
str.<br>
tuple.<br>
#### MUTABLE DATATYPES
list.<br>
set.<br>
dict.<br>
range.<br>

In [17]:
print("Hello World!")

Hello World!

In [18]:
a = "Hello World"
print(a)

Hello World

In [19]:
# Hashtags in the code cell is used for adding inline comment to codes
# on windows you can comment a line with 'ctrl + /'
#
# assign a variable to a value
a=8 # assign variable a to 3
print('Three times a is',3*a)
a=4
print('3 times a is',3*a)

Three times a is 24
3 times a is 12

In [20]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [21]:
# Float Datatype
a = 10.0
print(type(a))
b = 1.2e3
print(type(b))

<class 'float'>
<class 'float'>

###  Bool Datatype
Bool returns :

True

False

In [16]:
a = 10
b = 20
c = a<b
print(c)

True

In [15]:
c = a>b
print(c)

False

### REUSING
In int type reusing is allowed from '0 to 256' only, it is also allowed for Boolean data type, but not allowed in float & complex type

In [28]:
x = 1
y = 1
x is y

True

In [29]:
x = 257
y = 257
x is y    #Output will be False because reusing is allowed upto 256 only

False

In [ ]:
# Boolean
x = True
y = True
x is y

In [30]:
#Float
x = 1.0
y = 1.0
x is y

False

In [31]:
#Complex number
x = 10+2j
y = 10+2j
x is y

False

# Collections of variables
There are 4 main types of collections of variables in python
1. list
2. touple
3. set
4. dictionary
<em>Note:</em> All sequence count starts from zero in Python.

In [27]:
# a list is an ordered and indexed collection of values that are changeable and allows duplicates
my_list = ['Ken',2,3,4,'python',9.00,-2]
print(my_list)
print(my_list[0]) #Print the first element in the list
print(my_list[4]) #Print the fifth element in the list
print(my_list[-1]) #Last element in the list
print(my_list[-2]) #2nd to Last element in the list
print(len(my_list))

['Ken', 2, 3, 4, 'python', 9.0, -2]
Ken
python
-2
9.0
7

In [32]:
# it is easy to change entries of a list
my_list[3] = 52
print(my_list[3]) # index is based on 0!!!
my_list.append('to the back') #Adding new record
print(my_list)
print(len(my_list))
my_list.pop(4) #deleting an Item
print(my_list)

52
['Ken', 2, 3, 52, 'python', 9.0, -2, 'to the back']
8
['Ken', 2, 3, 52, 9.0, -2, 'to the back']